html { 
    background: whitesmoke; 
}

body {
    color: black;
    font-family: 'Arapey', serif;
    font-size: 18px;
    margin: 1em;
}

p {
    font-family: 'Arapey', serif;  
    font-size: 18px;
    width: 80%;
    line-height: 1.25;
}

h1 { 
    font-family: 'DM Sans', sans-serif;   
    font-weight:bolder ;
    font-size: 2.75em;
    line-height: .25;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

h2 { 
    font-family: 'DM Sans', sans-serif;   
    font-size: 1.5em;
    font-weight: 100;
    line-height: 1.0;
    text-align: center;
}

h3 { 
    font-family: 'DM Sans', sans-serif; 
    Font-weight: bold; 
    line-height: .75;
}

h4 { 
    font-family: 'DM Sans', sans-serif; 
    margin-bottom: .5em;
}

ul{
    margin-top: 0px;
    margin-bottom: .5em;
}

li{
    margin-top: 0px;
    margin-bottom: .5em;
}

.no-line-height {
    line-height: 0;
}

#artist-statement {
    max-width: 45%;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.navigation-bar {
  display: flex;
  align-items: left;
  background: whitesmoke;
  padding: 0;
  position: relative;
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
}

.navigation-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-bar > ul{
    display: flex;
    justify-content: left;
    flex: 1;
    flex-wrap: wrap;
}

.navigation-bar > ul > li{
    position: relative
}

.navigation-bar > ul > li > a{
    display: flex;
    align-items: left;
    gap: 1em;
    color: black;
    text-decoration: none;
    padding: 1em 1em
}

.navigation-bar > ul > li > a:hover{
    color: #00d3fd;
}

#horizontal-bar{
    border-top: 6px solid black;
    margin-left: 30%;
    margin-right: 30%;
}

.gallery-page{
    display:flex;
    width: 100%;
    justify-content: center;
}

.gallery-grid{
    max-width: auto;
    display: grid;
    grid-template-columns: 7fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "hd"
    "main"
    "ft";
    gap: 5%
}

.gallery-grid-style {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12em;
    height: 15em;
    margin: 2em;
    padding: 0;
    background-color: darkgray;
    color: white;
    font-size: .75em;
    font-family: 'DM Sans', sans-serif; 
}


.homepage-keywords-style {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: .75em;
    color: black;
    font-size: 1.5em;
    font-family: 'DM Sans', sans-serif; 
    font-weight: 400;
}


header { 
    grid-area: hd; 
    background: whitesmoke; 
    color: black;
    padding-top: 3em; 
}

main { 
    grid-area: main; 
    background: #ffffff; 
    border-color: #333333;
    padding: 1em; 
}

footer { grid-area: ft; 
    color: black;
    margin-left: 0;
    text-align: left;
    background-color: whitesmoke;
    font-family: 'DM Sans', sans-serif; 
    padding: .25em;
    height: 10%; 
}
