html { 
    background: whitesmoke; 
}

body {
    color: black;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    margin: 1em;
}

p {
    font-family: 'Inter',sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 80%;
    line-height: 1.25;
}

h1 { 
    font-family: 'DM Sans', sans-serif;   
    font-weight:bolder ;
    font-size: 2.75em;
    line-height: .25;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

h2 { 
    font-family: 'DM Sans', sans-serif;   
    font-size: 1.75em;
    font-weight: 400;
    line-height: 0.5;
    text-align: center;
}

h3 { 
    font-family: 'DM Sans', sans-serif; 
    Font-weight: bold; 
    line-height: .75;
}

h4 { 
    font-family: 'DM Sans', sans-serif; 
    margin-bottom: .5em;
}

ul{
    margin-top: 0px;
    margin-bottom: .5em;
}

li{
    margin-top: 0px;
    margin-bottom: .5em;
}

header { 
    grid-area: hd; 
    background: whitesmoke; 
    color: black;
    padding-top: 3em; 
}

main { 
    grid-area: main; 
    background: #ffffff; 
    border-color: #333333;
    padding: 1em; 
}

footer { grid-area: ft; 
    color: black;
    margin-left: 0;
    text-align: left;
    background-color: whitesmoke;
    padding: .25em;
    height: 10%; 
}

.no-line-height {
    line-height: 0;
}

#artist-statement {
    max-width: 45%;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

/* controls how the bar itself looks and behaves */
.navigation-bar {
  display: flex;
  align-items: left;
  justify-content: space-between;
  background: whitesmoke;
  padding: 0;
  position: relative;
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  list-style: none;
}

.navigation-bar > li{
    position: relative;
    padding: 1em;
    text-decoration: none;   
}

.navigation-bar > a{
    white-space: nowrap;
    display: block;
    text-decoration: none;
    padding: 1em;
}

.navigation-bar > a:hover{
    color: #236666;
    text-decoration: none;
}

.navigation-bar > ul{
    display: flex;
    align-items: left;
    gap: 1em;
    list-style: none;
    position:absolute;
}

/* controls how the main bar text looks */
.navigation-bar > ul > li > a{
    display: flex;
    align-items: left;
    gap: 1em;
    color: black;
    text-decoration: none;
    padding: 1em 0em;
    white-space: nowrap;
}

/* controls the submenu looks */
.navigation-bar > ul > li > ul > li{
    padding-top: 1em;
    padding-left: 0em;
    justify-content: space-between;
    list-style: none;
    position: relative;
    text-decoration: none;
}

/* controls how the links in the submenu look */
.navigation-bar > ul > li > ul > li > a{
    text-decoration: none;
    color: black;
    position: relative;
}

/* submenu colors and alignment*/
.navigation-bar > ul > li > ul {
    padding: 0em;
    display: none;
}

/* controls the hover */
.navigation-bar > ul > li:hover > ul {
    display: block;
}

/* controls the hover colors */
.navigation-bar a:hover {
    color: rgb(44, 4, 156);
}

#horizontal-bar{
    border-top: 6px solid black;
    margin-left: 30%;
    margin-right: 30%;
}

.gallery-page{
    display:flex;
    width: 100%;
    justify-content: center;
}

.gallery-grid{
    max-width: auto;
    display: grid;
    grid-template-columns: 7fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "hd"
    "main"
    "ft";
    gap: 5%
}

.gallery-grid-style {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12em;
    height: 15em;
    margin: 2em;
    padding: 0;
    background-color: darkgray;
    color: white;
    font-size: .75em;
    font-family: 'DM Sans', sans-serif; 
}


.homepage-keywords-style {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: .75em;
    color: black;
    font-size: 1.25em;
    font-family: 'DM Sans', sans-serif; 
    font-weight: 300;
}
